* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body {
    background-color: #fff;
    margin: 0rem;
    padding: 0rem;
    line-height: 2;
}

/*=================NAVBAR SECTION 1============*/
/*----------Images style-------------*/
.nigeria-flag img{
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-top: -0.3rem;
    margin-right: 0.5rem;
}

.search-icon img{
    width: 1.2rem;
    height: 1.2rem;
    transform: rotate(90.446deg);
    flex-shrink: 0;
}

.vector img {
    width: 1.3355rem;
    height: 1.30369rem;
    flex-shrink: 0;
    stroke-width: 1.372px;
    stroke: #FFF;
}

.house img {
    width: 1.78294rem;
    height: 1.78294rem;
    flex-shrink: 0;
}

.uba-logo img {
    width: 13.97125rem;
    height: 6.5375rem;
    flex-shrink: 0;
}

/*---------------Texts style----------------*/

.navbar-list ul {
    color: #000;
    font-size: 0.93394rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 6rem;
}

.drop-down select {
    width: 10.78256rem;
    height: 1.86788rem;
    flex-shrink: 0;
    border: 0.679px solid #000;
    background: #FFF;
}

.nigeria-flag {
    color: #000;
    font-size: 0.93394rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    
}

.Navbar {
    width: 70.01313rem;
    height: 3.65344rem;
    flex-shrink: 0;
    display: flex;
    gap: 1.25rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

hr {
    width: 70.00238rem;
    height: 0.04244rem;
    background: rgba(0, 0, 0, 0.56);
}

.vector {
    width: 18.29644rem;
    height: 4.5285rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #FFF;
    gap: 0.5rem;
    border-radius: 0.90063rem;
    background: linear-gradient(178deg, #B10606 0%, rgba(105, 8, 8, 0.80) 100%);
}

.vector p {
    text-align: center;
    font-family: Microsoft Sans Serif;
    font-size: 1.01881rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.house {
    display: flex;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.58);
    text-align: center;
    font-family: Microsoft Sans Serif;
    font-size: 0.93394rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1rem;
    align-items: center;
}

.Navbar-2-below {
    display: flex;
    gap: 1rem;
}

.NAVBAR {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 4%;
}

.uba-logo {
    margin-top: 2rem;
}

/*==============HERO SECTION 2============*/
/*-----------images styling----------*/

.hero-image img {
    width: 52.35738rem;
    height: 17.535rem;
    flex-shrink: 0;
}

/*-----------------text styling-----------------*/
.hero-cont {
    margin-left: 6rem;
}

.hero {
    display: flex;
    line-height: 1.3;
    gap: 3%;
    width: 82.1875rem;
    height: 19.02031rem;
    flex-shrink: 0;
    margin-top: 10rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: space-between;
}


.hero-text h1{
    color: #000;
    font-family: Microsoft Sans Serif;
    font-size: 2.64056rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.132rem;
    margin-bottom: 1rem;
}

.hero-text p {
    color: #000;
    font-family: metrophobic;
    font-size: 1.32025rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.066rem;
    
}

.hero-text input {
    margin-top: 1rem;
    width: 12.04756rem;
    height: 2.97063rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Microsoft Sans Serif;
    font-size: 1.23775rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06188rem;
    background: linear-gradient(180deg, #B10606 0%, rgba(105, 8, 8, 0.80) 100%);
}

.rectangle-cover {
    width: 89.6875rem;
    height: 7.00275rem;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.25), 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.rectangle {
    margin-top: 15%;
}

.rectangle h2 {
    text-align: center;
    color: #000;
    font-family: Myanmar Khyay;
    font-size: 1.69863rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: normal;
}

.rectangle p {
    color: rgba(0, 0, 0, 0.76);
    text-align: center;
    font-family: Microsoft Sans Serif;
    font-size: 0.93425rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

/*========================BANKING NET (SECTION 3)=====================*/
/* ---------------------image styling------------------- */

.banking-net img {
    width: 30rem;
    height: 19.7665rem;
    flex-shrink: 0;
}
/* --------------------text styling---------------------- */

.banking-net {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
}

/*====================RECTANGLE 5 (SECTION 4)==================== */
.rectangle-5 {
    display: flex;
    width: 89.6875rem;
    height: 20.93413rem;
    flex-shrink: 0;
    text-align: center;
    justify-content: space-around;
}


.rectangle-5 h2 {
    font-family: Myanmar Khyay;
    font-size: 1.68825rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05906rem;
    margin-bottom: 2%;
}

.rectangle-5 hr {
    width: 3.75631rem;
    height: 0.211rem;
    display: inline-block;
    background: #f00;
    margin-bottom: 10%;
}

.rectangle-5 p {
    width: 19.03488rem;
    font-family: Open Sans;
    font-size: 0.97075rem;
    font-style: normal;
    font-weight: 400;
    line-height: 181.184%; 
}

.app-video {
    position: relative;
    top: 0;
    left: 0;
}

.image-1 {
    position: relative;
    width: 89.6875rem;
    height: 35.83281rem;
    flex-shrink: 0;
}

.image-2 {
    position: absolute;
    top: 12.15rem;
    left: 39.25rem;
    width: 11.48rem;
    height: 11.52219rem;
    flex-shrink: 0;
}

/* ================HERO 2 (SECTION 5)===================== */
/* ----------------images styling---------------------- */

.img-1 {
    width: 20.56144rem;
    height: 29.96944rem;
    margin-top: 3rem;
}

.img-2 {
    width: 18.09263rem;
    height: 33.21106rem;
}

.hero-2-img {
    display: flex;
}

/* ------------------other styling-------------------- */


.hero-2 {
    display: flex;
    width: 77.34463rem;
    height: 33.39231rem;
    flex-shrink: 0;
    justify-content:space-between;
    align-items: center;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 20%;
}

.hero-2-text h2{
    color: #000;
    text-align: center;
    font-family: Myanmar Khyay;
    font-size: 1.78794rem;
    font-style: normal;
    font-weight: 400;
    line-height: 181.184%;
}

.hero-2-text hr {
    width: 2.89475rem;
    height: 0.21288rem;
    background: #F00;
    margin-bottom: 2rem;
}

.hero-2-text p {
    color: #000;
    font-family: Open Sans;
    font-size: 1.36225rem;
    font-style: normal;
    font-weight: 400;
    line-height: 181.184%;
    margin-bottom:2rem;
}

.hero-2-btn input{
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.36225rem;
    font-style: normal;
    font-weight: 400;
    line-height: 181.184%;
    width: 14.13331rem;
    height: 3.66106rem;
    flex-shrink: 0;
    border-radius: 0.38313rem;
    background: linear-gradient(170deg, #B10606 0%, rgba(105, 8, 8, 0.80) 100%);
}

.rectangle-2 {
    width: 89.6875rem;
    height: 7.00275rem;
    flex-shrink: 0;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 7%;
}

.rectangle-2 h1 {
    font-family: Myanmar Khyay;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 181.184%;
}

.rectangle-2 p {
    font-family: Open Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 181.184%;
}